body{
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  
}


.expand{
	width: 100%
}

.main-orange{
	background-color: #FFA500;
}
.strong-yellow{
	background-color: #ffb900;
}

.soft-yellow{
	background-color: #f1d40e;
}
.strong-red{
	background-color:#8c0000;

}


.transporte{
	width: 14rem;
}

.image-size{
	height: 400px;
	width:auto;
}

.center-text {
       text-align: center;   
 }


.standard-width{
	width: 80%;
	
}

.special-width{
	width: 75%;
}

.main-entries{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

}


.options-grid{
	display: grid;
	grid-gap: 5px;
	grid-template-columns: 50% 50%;
	justify-content: center;

}

.news-grid{
	display: grid;
	grid-template-columns: 32% 32% 32%;
	align-items: center;
	justify-content: center;
	justify-items: center;
	
}

.width-card{
	width: 18rem;
	height: 30rem;
}

@media only screen and (max-width: 1200px){
    .news-grid{
        display: grid;
		grid-template-columns: 100%;
		align-items: center;
		justify-content: center;
		justify-items: center;
    }

    .width-card{
	width: 80%;
	height: auto;
}

}

.video-display{
	display: flex;
	justify-content: center;
}

.logo-bottom-margings{
	margin: 1rem 0rem;
}


.main-div-margins{
	margin: 0px 0px 30px 0px;
}

.flex-wrap{
	display: flex;
	flex-wrap: wrap;

}

.logo-grid {
    display: grid;
    grid-template-columns: 20% 25% 55%;
}

.half-60{
	width: 60%;
}

.half-40{
	width: 40%;
}

.organize-column{
	display: flex;
	flex-direction: column;
	padding: 20px;

}

.btn-margin{
	margin-left: 2.5rem;
	margin-right: 2.2rem;
	margin-top: 0.6rem;
	margin-bottom: 0.6rem;

}

.noticias-btn-margin{
	margin-left: 70%;
}

.btn-search{
	margin: 1% 20%;
}

.adjust-padding{
padding: 20px;
}

.logo-size{
	height: 7rem;
	width:auto;

}

.border-blue{
	border-top: 4px solid  #2772d8;
}

.border-red{
	border-top: 4px solid  #dc3523;
}

.border-bottom-orange{
	border-bottom: 4px solid #FFA500;
	border-top: 4px solid #FFA500;
}

.bottom-top-yellow{
	border-bottom: 4px solid #eaee0e;
	border-top: 4px solid #eaee0e;
}



.border-green{
	border-top: 4px solid #5ec738;
}

.border-white{
	border-top: 4px solid white;
}

.border-black-botto{
	border-top: 1px solid black;
	margin-top: 2rem;
	padding: 0.3rem;
}
.border-yellow{
	border-top: 4px solid  #eaee0e;
}

.border-orange{
	border-top: 4px solid  #FFA500;
}
.nav-margins{
	margin: 0px 0px 10px 0px;
}

.navbar{
	padding: 0px;
}

.nav-flex{
	flex-wrap: wrap;

}
.title{
	display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 120%;

  margin-right: 20px;
  }

  
 .center-div{
 	display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

 }
 .dropdown-item {
    padding: .8rem 1.5rem;

}

.rounded-border{
	border-radius: 20%;
}

.borders-green{
	border: 4px solid #5ec738;
	background-color: #5ec738;
	border-radius: 10px;
}


.borders-blue{
	border: 4px solid #2772d8;
	background-color: #2772d8; 
	border-radius: 10px
	
}

.borders-red{
	border: 4px solid #dc3523;
	background-color: #dc3523; 
	border-radius: 10px
	
}

.borders-yellow{
	border: 4px solid #eaee0e;
	background-color: #eaee0e; 
	border-radius: 10px
	
}


.only-borders-yellow{
	border: 4px solid #eaee0e;
	border-radius: 10px

}

.zoom {
  transition: transform .2s;
  border-radius: 10px
}

.zoom:hover {

  transform: scale(1.01); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}


.borders-black{
   border: 1px solid black; 
	border-radius: 10px
}

.text-b{
	font-size: 120%;
	
}

.text-bold{
	font-weight: bold;
	font-size: 140%;
}

.roboto{
	font-size: 200%;
	font-family: 'Roboto Slab', serif;
}

.special-margins{
	margin-left: 30px;
	margin-right: 30px;
}

.width-45{
	width: 30%;

}

.width-45-s{
	width: 45%;

}


.width-60{
	width: 60%;
}
.grid-nav{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	
}


.width-80{
	width: 70%;
}

.width-55{
	width: 58%;
	text-align: right;
}


.space-around{
	justify-content: space-around;
}

.adjust-image{
	width: 1.5rem;
	height: auto;
	margin: 0.3rem;
}

.change-column{
	display: grid;
	grid-template-columns: 20% 80%;
}

.new-image-size{
    height: auto;
	width: 90%;
}

.footer-img{
	width: 4rem;
	height: auto;
}




.border{
 border: 2.5px solid #dee2e6!important;
}

.width-rem{
	width: 1.9rem;
	height: auto;
	margin: 0.5rem;
}


.width-image-news{
	width: auto;
	height: 30rem;
}

.tittle-bold{
	font-weight: bold;
	font-size: 180%;
}

.full-width{
	width: 100%;
}


.route_bus_margin{
	margin: 40px 15px 40px 15px;

}
.super-transporte{
	width: 7rem;
}

.bus-icon-size{
	width: 8rem;
}

.no-margins{
	margin: 0.3rem;
}

p{
	margin-bottom: 0px;
}

.footer-margins{
	margin: 20px 0px 0px 0px;
}

.footer-bold{
	font-weight: bold;
	font-size: 110%;
	margin-bottom: 0.5rem;

}

.test-margin{
	margin-right: 90%;
}

.smalltext{
	font-size: 95%;
}

.flex-end{
	justify-content: flex-end;
}

.left-margin{
	margin-left: 340px;
}

.test{
	width: 20rem;
}


.form-width{
	width: 60%;
}

.margin-left-guia{
	margin-left: 1rem;
}

.margin-left-logo{
	margin-left: 2rem;
}

.text-justify{
	 text-align: justify;
}

.flew-row{
	flex-direction: row;
}

.historia-image{
	width: 30rem;
    margin: 1rem;
}

.extra-margin{
	margin-bottom: 7rem;
}

.pdf-icon{
	width: 7rem;
	margin-top: 2rem;
}

.especial-test{
	width: 20%;
}



.facebook { 
	color: #4267B2; 
}
.youtube{
	color: #FF0000;
}

.messenger{
	color: #00B2FF;
}


.im:before{
	font-size: 2rem;
}

.social-media-grid{
	align-items: center;
}

.navbar-nav{
	justify-content: space-around;
}

.btn{
	margin-top: 0.5rem;
}

.change-to-grid{
    	display: grid;
        grid-template-columns: 33% 33% 33%;

 }

 .noticias-special-grid{
 	display: grid;
 	grid-template-columns: 33% 33% 33%;

 }

.width-footer-section{
	width: 50%;
	align-items: center;
}

.small-margins{
	margin-top: 0.5rem;
}

.extra-footer-margin{
	margin-top: 0.5rem;
}

.no-underlined{
	
  text-decoration: none;

}


.title-size{
	font-size: 1.5rem;
	font-weight: 400px;
}


.rutas-grid{
	display: flex;
	flex-direction: row;
}

.width-45{
	width: 45%;
}

.flex-column{
	display: flex;
    flex-direction: column;
    justify-content: center;

}

.extra-padding{
	padding: 0.6rem;
}

.center-div-rutas{
	display: flex;
  justify-content: center;
  flex-wrap: wrap;

}

.tittle-margin-extra{
	margin-bottom: 1rem;
	margin-top: 1rem;

}

.special-invisible-div{

	height: 15rem;
	margin-top: 5rem;
}

.hide_div{
	display: none;
}


.font-black{
	color: black;
}


@media only screen and (max-width: 1000px){
    .change-column{
    	display: flex;
        flex-direction: column;
    }

    .change-to-grid{
    	display: flex;
        flex-direction: column;
    }
    .button-width{
    	width: 80%;
    	margin-top: 20px;
    }

    .width-45{
	width: 80%;
}

    body{
    	font-size: 200%;
    }
    .btn-search{
    	font-size: 100%;
    }
    .logo-grid{
	display: grid;
	grid-template-rows: 60% 25% 15%;
	grid-template-columns: 100%;
	align-items: center;
	justify-content: center;
	justify-items: center;

	}

	.title{
  	font-size: 150%;
	}

	.logo-size{
	height: 19rem;
	width:auto;
	margin-top: 30px;

	}
	.navbar-toggler{
		font-size: 3rem;
	}

	.card-title{
		font-size:2.3rem;
	}

	.btn{
		font-size:2.2rem;
	}

	.dropdown-item {
		font-size: 200%;
    }

    .text-b {
    font-size: 120%;
}

.options-grid{
	grid-template-columns: 100%;
	grid-template-rows: 25% 25% 25% 25%;
}

.logo-bottom-margings{
	margin: 0rem 0rem;
}

			
.change-width{
width: 85%;
}

.footer-img{
	width: 5.5rem;
}

.form-control{
	font-size: 2.2rem;
}

.grid-nav{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
		
}

.title-size{
	font-size: 2.5rem;
	font-weight: 400px;
}

.social-media-grid{
	width: 70%;
}

 .facebook-feed{
 	display: none;
 }

 .im:before{
	font-size: 3rem;
}


}



